<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <a mat-list-item  routerLink="/home">Home</a>
      <a mat-list-item  routerLink="/habit-list">Habit List</a>
      <a mat-list-item  routerLink="/home">Home</a>
    </mat-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button mat-button (click)="drawer.toggle()">  <mat-icon>menu</mat-icon> </button>
    <br>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>